<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Home</a>
Books page | <a href="/books/add">Add book</a>
<table border="1">
    <tr>
             <th>id</th>
             <th>title</th>
             <th>author name</th>
             <th>price</th>
             <th>created date</th>
             <th>user name</th>
             <th>user surname</th>
             <th>HashTags</th>
             <th>picture</th>
    </tr>
    <tr th:each="book: ${books}">

        <td> <a th:href="@{/books/{id}(id=${book.id})}" ><span th:text="${book.id}">id</span></a></td>
        <td th:text="${book.getTitle()}"></td>
        <td th:text="${book.getAuthorName()}"></td>
        <td th:text="${book.getPrice()}"></td>
        <td th:text="${book.getCreatedDate()}"></td>
        <td th:text="${book.user.getName()}"></td>
        <td th:text="${book.user.getSurname()}"></td>
        <td ><span th:each="hashtag: ${book.hashtags}" th:text="${hashtag}"></span> </td>
        <td ><a th:if="${book.picUrl != null}" th:href="@{/image(picUrl=${book.picUrl})}"><img width="100"  th:src="@{/image(picUrl=${book.picUrl})}"></a> </td>

    </tr>
</table>
</body>
</html>